<div class='sidebar-block'>
<h3>Useful Links</h3>
<ul>
  <li><a href="https://ufal.mff.cuni.cz/nomvallex">PyVallex with NomVallex 1.0 data</a></li>
  <li><a href="https://ufal.mff.cuni.cz/pyvallex">PyVallex with multiple valency dictionaries</a></li>
  <li><a href="https://quest.ms.mff.cuni.cz/tranlex">PyVallex with a translation dictionary</a></li>
  <li><a href="http://gitlab.com/Verner/pyvallex">PyVallex Source Code</a></li>
  <li><a href="_static/papers/2020_lrec.pdf">LREC 2020 paper</a>
  <li><a href="http://ufal.mff.cuni.cz/vallex">The Vallex Project</a></li>
</ul>
</div>
