@media print {
    .no-print,
    .v-data-iterator__actions {
        display: none !important;
    }
    main {
        padding-left: 0 !important;
    }
    div {
        break-inside: avoid !important;
        box-shadow: none !important;
    }
    div.v-Lexeme {
        border: solid 1px black !important;
        margin-bottom: 1em;
    }
    .application {
        background-color: white !important;
    }
}

.lemma {
    running-head: section;
}
