<template>
    <div class="v-BusyDlg">
        <v-dialog v-model="state.gui.busy_dlg" max-width="80%" persistent>
            <v-card class="v-BusyDlg" id="App-BusyDlg">
                <v-card-title class="teal busy-title">
                    <div>
                        <h2>Please wait ...</h2>
                    </div>
                </v-card-title>
                <v-card-text>
                    <center>
                        Working, please wait.
                        <v-progress-linear indeterminate />
                    </center>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
        }
    },
}
</script>

<style lang="scss">
.v-BusyDlg {
}
</style>
