<template>
    <div class="v-Comments">
        <v-dialog v-model="state.gui.comments_dlg" max-width="290">
            <v-card>
                <v-card-title class="lex-header">
                    <h4>Comments</h4>
                    <v-spacer></v-spacer>
                </v-card-title>
                <v-card-text>
                    <div
                        v-for="(c, index) in state.gui.current_comments"
                        :key="index"
                    >
                        {{ c.content }}
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            state: store.state,
        }
    },
}
</script>

<style lang="scss">
.v-Comments {
    margin-left: 0.2em;
}
</style>
