<template>
    <div class="v-Help">
        <v-dialog
            v-model="state.gui.doc_browser"
            max-width="90%"
            @keydown.esc="state.gui.doc_browser = false"
            scrollable
        >
            <v-card height="90vh">
                <v-navigation-drawer
                    v-model="state.gui.doc_browser"
                    absolute
                    hide-overlay
                    stateless
                    class="yellow toc"
                    width="200px"
                >
                    <v-treeview
                        :items="state.doc_toc.guide.toc"
                        item-text="title"
                        open-on-click
                        class="tree"
                    >
                        <template slot="label" slot-scope="{item}">
                            <small v-if="item.content">
                                <a v-if="item.link" :href="item.link" @click="show(item)">{{ item.title }}</a>
                                <a v-else @click="show(item)">{{ item.title }}</a>
                            </small>
                            <small v-else>{{ item.title }}</small>
                        </template>
                    </v-treeview>
                    <div class="headerinfo">
                        <div>
                        Vallex &copy; 2019 Lopatková et&nbsp;al.<br />
                        Práce na slovníku a jeho vydání byly podpořeny projektem
                        GAČR&nbsp;<a
                            href="https://ufal.mff.cuni.cz/grants/delving-deeper"
                            >P406-12-0557</a
                        >
                        </div>
                        <div>
                        NomVallex &copy; 2020 Kolářová et&nbsp;al.<br />
                        Práce na slovníku a jeho vydání byly podpořeny projektem
                        GAČR&nbsp;<a
                            href="https://ufal.mff.cuni.cz/grants/nomvallex"
                            >GA16-02196S</a
                        >
                        </div>
                    </div>
                </v-navigation-drawer>
                <v-card-text id="card_text">
                    <div class="content" id="help_text">
                        <div
                            v-if="current_item.html"
                            v-html="current_item.html"
                        ></div>
                        <div v-else>
                            <h1>{{ current_item.title }}</h1>
                            <v-progress-linear
                                size="150"
                                color="teal"
                                indeterminate
                            >
                                Loading
                            </v-progress-linear>
                        </div>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import store from "../Store.js"
import api from "../Api.js"


export default {
    data() {
        return {
            state:
                store.state /** A reference to the global application state */,
            minimized: false,
            current_item: store.state.doc_toc.guide.toc[0],
        }
    },
    created() {
        this.show(this.current_item)
    },
    methods: {
        async show(item) {
            if (!item.link) {  // change the underlying html
                if (!item.html)
                    item.html = await api.get_guide_text(item.content)
                this.current_item = item
                document.getElementById('card_text').scrollTop = 0
            }
            else {  // jump to link within a html
                if (item.content != this.current_item.content){
                    if (!item.html)
                        item.html = await api.get_guide_text(item.content)
                    this.current_item = item
                }
                // hash is changed but the view in the browser is not; need to jump to the correct location of the given link/html file
                // sequence of @click -> <a href...> seems to be correct - first @click and on click called show function -> and then href changed
                // location.href = item.link;
                // console.log(item.link)
                // console.log(item)
            }
        },
    },
}
</script>

<style lang="scss">
.yellow {
    background-color: yellow;
    display: flex;
    flex-direction: column;
}
div.content {
    max-width: 80%;
}
.content {
    margin-top: 1em;
    margin-left: 220px;
}
.toc {
    .tree {
        overflow-y: auto;
        overflow-x: auto;
        flex: 1;
        min-height: 50%;
        padding-top: 30px;
    }
    .headerinfo {
        border-top: solid 1px lightgray;
        padding: 10pt;
        font-size: 8pt;
        bottom: 1em;
        overflow-y: auto;
    }
    a {
        text-decoration: none !important;
        color: black;
    }
    .v-treeview-node {
        margin-left: 10px !important;
    }
    .v-treeview-node__root {
        min-height: 0em !important;
        margin-left: 10px !important;
    }
    .v-treeview-node--leaf {
        margin-left: 19px !important;
    }
    i {
        max-width: 9px !important;
    }

    ::-webkit-scrollbar,
    ::-webkit-scrollbar-track,
    ::-webkit-scrollbar-track:hover,
    ::-webkit-scrollbar-corner {
        background-color: transparent;
        border-color: transparent;
    }
}

#help_text {
    .headerinfo {
        padding: 6pt;
        text-align: right;
        font-size: 8pt;
        position: absolute;
        top: 1em;
        right: 1em;
        max-width: 60%;
    }
    a.href {
        font-size: 9pt;
        color: #e43e5e !important;
        font-weight: bold;
    }
    .footnote {
        vertical-align: super;
        font-size: x-small;
        color: #e43e5e;
        text-decoration: none;
    }
    .todo {
        color: red;
        font-weight: bold;
        font-size: x-large;
    }
    span.sf {
        font-family: arial, sans-serif;
    }
    span.ul {
        text-decoration: underline;
    }
    span.functorVR {
        color: #e43e5e;
    }
    span.functorvr {
        color: #e43e5e;
        font-size: x-small;
        font-style: normal;
    }
    span.formval {
        font-size: small;
        margin-right: 2ex;
    }
    span.obloptyp {
        font-size: small;
    }
    span.classval {
        color: orangered;
    }
    span.alterval {
        color: orangered;
    }
    span.verbattr {
        color: #00adef;
    }
    span.rule,
    span.lexalt {
        font-family: monospace;
    }

    span.limit,
    span.idiom {
        color: #e43e5e;
    }

    span.attrvalue {
        color: orangered;
    }
    span.capsname {
        font-variant: small-caps;
        font-weight: bold;
    }
    span.caps {
        font-variant: small-caps;
    }
    span.lemma,
    span.example {
        color: #00adef;
        font-style: italic;
    }

    span.temp-strike {
        text-decoration: line-through;
    }
    span.temp-comment {
        color: gray;
    }
    span.hspace {
        display: inline-block;
        width: 8ex;
    }
    span.qquad {
        display: inline-block;
        width: 4ex;
    }
    span.quad {
        display: inline-block;
        width: 2ex;
    }
    sub {
        font-size: xx-small;
    }
    sup {
        font-size: xx-small;
    }
    .asp {
        font-size: x-small;
        color: #1ed4b0;
        font-style: normal;
        font-family: monospace;
    }
    .up {
        vertical-align: super;
    }
    .down {
        vertical-align: sub; /* = position : relative; bottom : -0.25em; */
    }
    .homogr {
        vertical-align: sub;
        color: #1ed4b0;
        font-size: x-small;
        font-style: normal;
    }
    .back4 {
        margin-right: -0.4ex;
    }
    .back30 {
        margin-right: -3ex;
    }
    .obl {
        font-weight: bold;
    }
    span.bib-note {
        font-size: xx-small;
        color: #e43e5e;
    }
    pre {
        font-size: smaller;
    }
    img.figure {
        align: center;
        margin: 0pt 0em 1em 2em;
    }
    p {
        text-indent: 3em;
        margin-top: 0pt;
        margin-bottom: 0pt;
    }
    p.noindent {
        text-indent: 0em;
    }
    p.smallskip {
        margin-top: 0.3ex;
    }
    p.medskip {
        margin-top: 1ex;
    }
    p.bigskip {
        margin-top: 3ex;
    }
    ul.toc {
        list-style-type: none;
        float: left;
        margin-bottom: 4ex;
    }
    ul.inline {
        margin: 0pt;
        font-size: 20pt;
    } /* menu */
    ul {
        margin-top: 1ex;
        margin-bottom: 1ex;
        list-style-type: disc;
    }
    ul li {
        margin-left: 2em;
    }
    ul.inline li {
        margin-left: 0em;
    }
    ol.ex {
        padding-left: 5em;
    }
    ol.ex li {
        text-indent: -3em;
        list-style-type: none;
    }
    h1.part {
        text-align: center;
        clear: both;
    }
    h1.vallex {
        color: black;
        font-size: 40pt;
        margin-top: -2pt;
    }
    h1 {
        color: #e43e5e;
        font-size: 24pt;
    }
    h2 {
        color: #e43e5e;
        font-size: 18pt;
        margin-top: 4ex;
    }
    h3 {
        color: #e43e5e;
        font-size: 16pt;
        margin-top: 4ex;
    }
    h4 {
        color: #e43e5e;
        font-size: 14pt;
        margin-top: 4ex;
    }
    h5 {
        color: #e43e5e;
        font-size: 13pt;
        margin-top: 4ex;
    }
    table.rule {
        width: 60%;
        margin-left: 20%;
        margin-right: 20%;
        margin-top: 2mm;
        margin-bottom: 5mm;
        border: 2pt solid;
        border-collapse: collapse;
    }
    table.rule td {
        vertical-align: top;
        padding-left: 2mm;
        padding-right: 2mm;
    }
    table.rule td.head {
        width: 25ex;
        font-weight: bold;
    }
    table.rule td.num {
        text-align: right;
    }
    table.rule td.desc {
        border-bottom: 2pt solid;
    }
    table.rule td.name {
        width: 20ex;
        text-align: right;
        border-bottom: 2pt solid;
    }
    table.rule td.cond {
        border-bottom: 1pt solid;
    }
    table.rule td.val {
        border-left: 2pt solid;
    }
    div.center {
        text-align: center;
    }
    div.caption {
        margin: 0 25% 5ex 25%;
        border-bottom: solid;
    }
}
</style>
