<template>
    <v-card class="v-Lexeme">
        <v-card-title class="lex-header"
            ><h4>
                {{ lexeme.name }} ({{ lexeme.id }},  {{
lexeme._matching_lus.length }} of
                {{ lexeme.lexical_units.length }} LUs)
            </h4>
            <v-spacer></v-spacer>
            <button
                v-if="lexeme.errors.length > 0"
                @click="actions.show_errors(lexeme.errors)"
                class="errors right"
            >
                <v-icon color="error">error</v-icon>
            </button>
            <span
                class="align-end"
                v-if="lexeme.source && state.gui.show_chrome"
            >
                {{
                    lexeme.source.fname.slice(
                        lexeme.source.fname.lastIndexOf("/") + 1
                    )
                }}:{{ lexeme.source.ln }}
            </span>
        </v-card-title>
        <v-container fluid grid-list-lg>
            <v-layout row wrap v-if="!state.gui.show_all_lus">
                <v-flex
                    v-for="(lu, index) in lexeme._matching_lus"
                    :key="lu.id + '-' + index"
                    :class="[
                        'lu',
                        'lg-' + (index % 2),
                        'xs12',
                        'sm12',
                        {
                            lg6:
                                lexeme._matching_lus.length >= 2 &&
                                (lexeme._matching_lus.length % 2 == 0 ||
                                    index < lexeme._matching_lus.length - 1),
                            last: index == lexeme._matching_lus.length - 1,
                            first: index == 0,
                            second: index == 1,
                        },
                    ]"
                >
                    <v-divider></v-divider>
                    <lexical-unit :lu="lu" :hide-attrs="hideAttrs" />
                </v-flex>
            </v-layout>
            <!-- show all lus (i.e. not only the matched ones) -->
            <v-layout row wrap v-else>
                <v-flex
                    v-for="(lu, index) in lexeme.lexical_units"
                    :key="lu.id + '-' + index"
                    :class="[
                        'lu',
                        'lg-' + (index % 2),
                        'xs12',
                        'sm12',
                        {
                            lg6:
                                lexeme.lexical_units.length >= 2 &&
                                (lexeme.lexical_units.length % 2 == 0 ||
                                    index < lexeme.lexical_units.length - 1),
                            last: index == lexeme.lexical_units.length - 1,
                            first: index == 0,
                            second: index == 1,
                            matched: lexeme._matching_lus.indexOf(lu) > -1,
                        },
                    ]"
                >
                    <v-divider></v-divider>
                    <lexical-unit :lu="lu" :hide-attrs="hideAttrs" />
                </v-flex>
            </v-layout>
        </v-container>
    </v-card>
</template>

<script>
import LexicalUnit from "./LexicalUnit.vue"
import store from "../Store"

export default {
    props: ["lexeme", "hideAttrs"],
    components: {
        LexicalUnit,
    },
    data: () => ({
        state: store.state,
    }),
}
</script>

<style lang="scss">
.v-Lexeme {
    .lex-header {
        background-color: lightyellow;
    }
    .first {
        hr {
            display: none;
        }
    }
    .matched {
        background: lightyellow;
    }

    @media (min-width: 600px) and (max-width: 1264px) {
        .lu.sm-0:not(.last) {
            border-right: solid 1px lightgray;
        }
    }
    @media (min-width: 1264px) {
        .lu.lg-0:not(.last) {
            border-right: solid 1px lightgray;
        }
        .second {
            hr {
                display: none;
            }
        }
    }

    .attrib .id {
        color: gray;
    }

    ul {
        margin: 1em;
        padding-bottom: 1em;
        list-style: none;
    }

    ul li {
        margin-bottom: 0.5em;
    }

    ul.attrib {
        margin: 0.1em;
    }

    ul.attrib li {
        margin-bottom: 0.1em;
    }
}
</style>
