<template>
    <div class="v-LexicalUnit">
        <!-- formatted version of the LU -->
        <div v-if="!state.gui.show_source">
            <!-- Header (lemma, errors, search key, edit button, comments) -->
            <div class="unit-header">
                <div v-if="state.gui.show_chrome" class="right id no-print">
                    [{{ lu.id }}]
                    <button
                        v-if="lu.errors.length > 0"
                        @click="actions.show_errors(lu.errors)"
                        class="errors right"
                    >
                        <v-icon color="error">error</v-icon>
                    </button>
                    <Editor
                        v-if="state.config.mode != 'server'"
                        :lu="lu"
                        class="right"
                    />
                    <button
                        v-if="lu.lemma.comments['all'].length > 0"
                        @click="actions.show_comments(lu.lemma.comments['all'])"
                        class="right"
                    >
                        <v-icon>comment</v-icon>
                    </button>
                    <button @click="actions.show_match_map(lu)" class="right">
                        <v-icon>vpn_key</v-icon>
                    </button>
                </div>

                <div class="lemma">
                    <span
                        v-for="attr in Object.keys(lu.lemma.data)"
                        :key="attr"
                    >
                        {{ lu.lemma.data[attr]
                        }}<sup class="aspect">{{ attr }}</sup>
                    </span>
                    <span class="idiom" v-if="lu.attrs['idiom']">(idiom)</span>
                </div>
            </div>

            <!-- The frame attribute -->
            <button
                class="comments"
                v-if="lu.frame.comments['all'].length > 0"
                @click="actions.show_comments(lu.frame.comments['all'])"
            >
                <v-icon>comment</v-icon>
            </button>
            <div class="frame" v-if="lu.frame">
                <span
                    class="functor"
                    v-for="fe in lu.frame.elements"
                    :key="fe.functor"
                >
                    <span class="name nobr">
                        {{ fe.functor }}
                        <span class="supsub">
                            {{ fe.oblig }}&nbsp;<br />&nbsp;
                            <span
                                v-for="form in fe.forms"
                                :key="form"
                                class="forms separated-list comma"
                                >{{ form }}</span
                            >
                        </span>
                    </span>
                </span>
            </div>

            <!-- Table with attributes -->
            <table class="attrib">
                <tr>
                    <td class="name"></td>
                    <td class="val"></td>
                </tr>
                <attrib
                    v-for="(attr, index) in display_attrs"
                    :key="index"
                    :attr="attr"
                    :has_single_noniter_aspect="lu.has_single_noniter_aspect"
                    :showlinks="true"
                />
            </table>
        </div>

        <!-- source display of the LU -->
        <div v-else>
            <div class="right id">
                <button
                    v-if="lu.errors.length > 0"
                    @click="actions.show_errors(lu.errors)"
                    class="errors right"
                >
                    <v-icon color="error">error</v-icon>
                </button>
                <Editor
                    v-if="state.config.mode != 'server'"
                    :lu="lu"
                    class="right"
                />
                <button @click="actions.show_match_map(lu)" class="right">
                    <v-icon>vpn_key</v-icon>
                </button>
            </div>
            <LUSource :lu="lu" class="source" />
        </div>
    </div>
</template>

<script>
import Attrib from "./Attrib.vue"
import Editor from "./Editor"
import LUSource from "./LUSource"
import store from "../Store.js"

export default {
    name: "LexicalUnit",
    props: ["lu", "lexeme", "hideAttrs"],
    data: () => ({
        state: store.state,
        actions: store.actions,
    }),
    components: {
        Attrib,
        Editor,
        LUSource,
    },
    computed: {
        display_attrs() {
            let ret = []
            if (!this.hideAttrs) return []
            for (const [attr_name, attr] of Object.entries(this.lu.attrs)) {
                if (
                    this.hideAttrs[attr_name] ||
                    !attr.data ||
                    attr_name == "idiom"
                )
                    continue
                if (attr_name == "derivedFrom") {
                    attr.data["valdiff"] = this.lu.attrs["valdiff"]
                    ret.push(attr)
                } else if (attr_name != "valdiff") {
                    ret.push(attr)
                }
            }
            return ret
        },
    },
}
</script>

<style lang="scss">
.v-LexicalUnit {
    table.attrib {
        table-layout: fixed;
        width: 100%;
        td.name {
            width: 6em;
        }
    }
    .source {
        position: relative;
        top: -1.5em;
    }

    /* .lemma::before {
    content: "~ ";
  }
  .frame::before {
    content: "+ ";
  } */
    .aspect {
        color: #1ed4b4;
    }
    .attrib .id {
        color: gray;
    }
    .comments {
        float: right;
    }

    ul {
        margin: 1em;
        padding-bottom: 1em;
        list-style: none;
    }

    ul li {
        margin-bottom: 0.5em;
    }

    ul.attrib {
        margin: 0.1em;
    }

    ul.attrib li {
        margin-bottom: 0.1em;
    }
    .nobr {
        white-space: nowrap;
    }
    .supsub {
        display: inline-block;
        margin: -9em 0;
        vertical-align: -0.55em;
        line-height: 1.35em;
        font-size: 70%;
        text-align: left;
    }
    .unit-header {
        font-size: larger;
        .id {
            color: gray;
        }
        .lemma {
            margin-top: 0.2em;
            font-weight: bold;
            margin-bottom: 1em;
            span {
                margin-right: 0.5em;
            }
        }
        .idiom {
            color: gray;
            font-size: smaller;
            margin-left: 0.5em;
        }
        .aspect {
            margin-left: 0.4em;
        }
        margin-top: 0.5em;
        margin-bottom: 1em;
    }
}
</style>
