<template>
    <span class="v-MarkedText">
        <span
            v-for="(piece, index) in pieces"
            :class="piece.marked ? 'mark' : ''"
            :key="index"
            >{{ piece.txt }}</span
        >
    </span>
</template>

<script>
export default {
    props: ["text", "regexes"],
    name: "MarkedText",
    computed: {
        /** Splits the text into intervals each of which is either marked or unmarked.*/
        pieces() {
            const matches = this.regexes
                .map((exp) => this.text.match(exp)) // Find matches
                .filter((m) => m) // Filter out the matches
                .map((m) => [m.index, m.index + m[0].length]) // Convert the matches into intervals
                .sort(([al, ar], [bl, br]) => {
                    // Sort the intervals by left endpoints, ties split by bigger coming earlier
                    if (al < bl) return -1
                    if (al == bl) {
                        if (ar > br) return -1
                        if (ar == br) return 0
                        return 1
                    }
                    return 1
                })
            let marked_pieces = []
            let current_interval = null
            for (const [il, ir] of matches) {
                // Iterate over the intervals, joining overlapping ones,
                // and create the text pieces
                if (!current_interval) {
                    marked_pieces.push({
                        txt: this.text.substr(0, il),
                        marked: false,
                    })
                    current_interval = [il, ir]
                } else {
                    const [l, r] = current_interval
                    if (il > r) {
                        marked_pieces.push({
                            txt: this.text.substr(l, r - l),
                            marked: true,
                        })
                        marked_pieces.push({
                            txt: this.text.substr(r, il - r),
                            marked: false,
                        })
                        current_interval = [il, ir]
                    } else {
                        current_interval = [l, ir]
                    }
                }
            }
            if (current_interval) {
                let [l, r] = current_interval
                marked_pieces.push({
                    txt: this.text.substr(l, r - l),
                    marked: true,
                })
                marked_pieces.push({txt: this.text.substr(r), marked: false})
            } else {
                marked_pieces.push({txt: this.text, marked: false})
            }
            return marked_pieces
        },
    },
}
</script>

<style lang="scss">
.v-MarkedText {
    .mark {
        background-color: yellow;
    }
}
</style>
