<template>
    <div class="v-MatchMap">
        <v-dialog
            v-model="state.gui.match_map_dlg"
            max-width="80%"
            @keydown.esc="state.gui.match_map_dlg = false"
            scrollable
        >
            <v-card class="v-MatchMap">
                <v-card-title class="yellow">
                    <h2 v-if="state.gui.current_matchmap_lu">
                        Match Map for {{ state.gui.current_matchmap_lu.id }}
                    </h2>
                    <v-spacer></v-spacer>
                    <v-btn
                        flat
                        icon
                        @click="state.gui.match_map_dlg = false"
                        class="align-end"
                    >
                        <v-icon>close</v-icon>
                    </v-btn>
                </v-card-title>
                <v-card-text>
                    <v-layout row>
                        <v-flex sm12 md8>
                            <!-- An input to filter the keys -->
                            <v-text-field
                                v-model="key_filter"
                                label="Key filter"
                                hint="Type to filter the table for matching keys"
                                persistent-hint
                            ></v-text-field>
                        </v-flex>
                    </v-layout>
                    <v-layout row>
                        <table>
                            <tr
                                v-for="(row, index) in filtered_active_map"
                                :key="row.key + index"
                            >
                                <td class="key bold">{{ row.key }}</td>
                                <td>
                                    <span
                                        class="separated-list semicolon"
                                        v-for="(str, sindex) in row.values"
                                        :key="sindex + row.key + 'vals'"
                                    >
                                        <marked-text
                                            :text="str"
                                            :regexes="[row.regex]"
                                        />
                                    </span>
                                </td>
                            </tr>
                            <tr
                                v-for="(row, index) in filtered_map"
                                :key="row.key + index"
                            >
                                <td class="key">{{ row.key }}</td>
                                <td>
                                    <span
                                        class="separated-list semicolon"
                                        v-for="(str, sindex) in row.values"
                                        :key="sindex + row.key + 'vals'"
                                    >
                                        {{ str }}
                                    </span>
                                </td>
                            </tr>
                        </table>
                    </v-layout>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import api from "../Api.js"
import store from "../Store.js"
import MarkedText from "./MarkedText"

export default {
    data() {
        return {
            match_map: {} /** The mapping of match_keys to values */,
            key_filter: "" /** Filter for the match_keys */,
            state:
                store.state /** A reference to the global application state */,
            console: console,
        }
    },
    components: {
        MarkedText,
    },
    computed: {
        /** Returns the filtered map  */
        filtered_map() {
            let ret = []
            const match_exp = RegExp(this.key_filter)
            for (const [name, val] of Object.entries(this.match_map)) {
                if (name.match(match_exp) && val.length > 0)
                    ret.push({key: name, values: val})
            }
            return ret
        },
        filtered_active_map() {
            let ret = []
            const match_exp = RegExp(this.key_filter)
            for (const cond of this.state.current_query) {
                const [key, pat] = cond.split("=")
                if (key.match(match_exp) && this.match_map[key])
                    ret.push({
                        key: key,
                        values: this.match_map[key],
                        regex: RegExp(pat),
                    })
            }
            return ret
        },
    },
    watch: {
        /** Fetches the match map when the dialog is opened. */
        "state.gui.match_map_dlg": async function load() {
            try {
                if (
                    store.state.gui.match_map_dlg &&
                    store.state.gui.current_matchmap_lu
                )
                    this.match_map = await api.match_map(
                        store.state.gui.current_matchmap_lu.id
                    )
            } catch (ex) {
                store.actions.exception(ex, "Error computing match map")
            }
        },
    },
}
</script>

<style lang="scss">
.v-MatchMap {
    .key {
        color: gray;
    }
    table {
        margin-top: 1em;
    }
    .bold {
        color: black;
        font-weight: bold;
    }
}
</style>
