<template>
    <div class="text-xs-center">
        <v-menu
            v-model="menu"
            :close-on-content-click="false"
            :nudge-width="200"
            offset-y
        >
            <span slot="activator">
                <v-icon class="permalink">link</v-icon>
            </span>

            <v-card>
                <v-list>
                    <v-list-tile avatar>
                        <v-list-tile-content>
                            <v-list-tile-title
                                ><h4>{{ title }}</h4></v-list-tile-title
                            >
                        </v-list-tile-content>
                    </v-list-tile>
                    <v-list-tile>
                        <v-text-field
                            :value="link"
                            solo
                            flat
                            ref="link"
                            disabled
                        />
                    </v-list-tile>
                </v-list>

                <v-card-actions>
                    <v-spacer></v-spacer>
                    <v-btn flat @click="menu = false">Cancel</v-btn>
                    <v-btn color="primary" flat @click="copyToClipboard()"
                        >Copy to clipboard</v-btn
                    >
                </v-card-actions>
            </v-card>
        </v-menu>
    </div>
</template>

<script>
import store from "../Store.js"

export default {
    data() {
        return {
            menu: false,
        }
    },
    props: ["link", "title"],
    methods: {
        async copyToClipboard() {
            if (!navigator.clipboard) {
                var input_element = this.$refs["link"].$el.getElementsByTagName(
                    "input"
                )[0]
                input_element.focus()
                input_element.select()
                try {
                    document.execCommand("copy")
                    this.menu = false
                } catch (err) {
                    store.actions.error(
                        "Oops, unable to copy to clipboard",
                        err
                    )
                }
            } else {
                try {
                    await navigator.clipboard.writeText(this.link)
                } catch (err) {
                    store.actions.error(
                        "Oops, unable to copy to clipboard",
                        err
                    )
                }
            }
        },
    },
    watch: {
        menu() {
            if (this.menu) {
                var input_element = this.$refs["link"].$el.getElementsByTagName(
                    "input"
                )[0]
                input_element.focus()
                input_element.select()
            }
        },
    },
}
</script>

<style lang="scss"></style>
