<template>
    <v-form ref="form" v-model="valid" lazy-validation>
        <v-container fluid>
            <v-layout class="v-center" row wrap>
                <v-flex xs11 sm8>
                    <v-combobox
                        hint="A query is a list of key=regexp pairs. To negate a query, use != instead of =."
                        label="Enter your search query"
                        v-model="state.current_query"
                        clearable
                        :items="attrs"
                        :search-input.sync="search"
                        :rules="queryRules"
                        :loading="!state.api_loaded"
                        :error-messages="errors"
                        item-text="name"
                        item-value="name"
                        @change="onChange"
                        multiple
                        persistent-hint
                        small-chips
                    >
                        <template slot="selection" slot-scope="{item}">
                            <v-chip
                                small
                                @dblclick="editQuery(item.name || item)"
                                :class="queryClass(item.name || item)"
                            >
                                <span class="key">{{
                                    queryKey(item.name || item)
                                }}</span
                                >=<span class="pattern">{{
                                    queryPattern(item.name || item)
                                }}</span>
                                &nbsp;
                                <v-icon
                                    small
                                    @click="removeQuery(item.name || item)"
                                    >close</v-icon
                                >
                            </v-chip>
                        </template>

                        <template slot="item" slot-scope="{item}">
                            <span :class="queryClass(item.name) + ['key']">{{
                                item.name
                            }}</span>
                            <v-spacer></v-spacer>
                            <span class="description">{{ item.desc }}</span>
                        </template>
                    </v-combobox>
                </v-flex>
                <v-flex xs1>
                    <a @click="actions.show_help('search-form')"
                        ><v-icon>help</v-icon></a
                    >
                </v-flex>
                <v-flex xs11 sm2>
                    <v-select
                        hint="Select which datasets to search in."
                        label="Lexicons to search in"
                        v-model="state.search_in"
                        :items="sources"
                        :loading="!state.api_loaded"
                        @change="submit"
                        multiple
                        persistent-hint
                    >
                        <v-list-tile
                            slot="prepend-item"
                            @click="toggleSources"
                            ripple
                        >
                            <v-list-tile-action>
                                <close-box
                                    class="medium"
                                    v-if="
                                        this.state.search_in.length ===
                                        this.sources.length
                                    "
                                    title="Unselect All"
                                    decorative
                                />
                                <plus-box
                                    class="medium"
                                    v-else-if="this.state.search_in.length > 0"
                                    title="Select All"
                                    decorative
                                />
                                <checkbox-blank-outline
                                    class="medium"
                                    v-else
                                    decorative
                                    title="Select All"
                                />
                            </v-list-tile-action>
                            <v-list-tile-title
                                v-if="
                                    this.state.search_in.length ===
                                    this.sources.length
                                "
                                >Unselect All</v-list-tile-title
                            >
                            <v-list-tile-title v-else
                                >Select All</v-list-tile-title
                            >
                        </v-list-tile>
                        <v-divider slot="prepend-item" class="mt-2" />
                        <template slot="selection" slot-scope="{item, index}">
                            <v-tooltip
                                bottom
                                v-if="
                                    sources.length == state.search_in.length &&
                                    index === 0
                                "
                            >
                                <span slot="activator">All</span>
                                <span>{{ state.search_in.join("\n") }}</span>
                            </v-tooltip>
                            <v-tooltip v-else-if="index === 0">
                                <span slot="activator">
                                    {{ item | shorten(25) }}
                                    <span v-if="state.search_in.length > 1"
                                        >(+{{
                                            state.search_in.length - 1
                                        }})</span
                                    >
                                </span>
                                <span>{{ state.search_in.join("\n") }}</span>
                            </v-tooltip>
                        </template>
                    </v-select>
                </v-flex>
                <v-flex xs1>
                    <!-- a permanent link to the current search query -->
                    <v-tooltip bottom>
                        <span slot="activator">
                            <permalink-dlg
                                :link="state.perma_link('search')"
                                title="Permanent link to this query"
                                class="permalink"
                            />
                        </span>
                        <span>A permanent link to this query</span>
                    </v-tooltip>
                </v-flex>
            </v-layout>
        </v-container>
    </v-form>
</template>

<script>
import api from "../Api.js"
import store from "../Store.js"

import CheckboxBlankOutline from "vue-material-design-icons/CheckboxBlankOutline"
import CloseBox from "vue-material-design-icons/CloseBox"
import PlusBox from "vue-material-design-icons/PlusBox"

import PermalinkDlg from "./PermalinkDlg"

export default {
    components: {
        CheckboxBlankOutline,
        CloseBox,
        PlusBox,
        PermalinkDlg,
    },
    data: () => ({
        valid: true,
        attrs: [],
        sources: [],
        errors: [],
        search: "",
        queryRules: [(v) => !!v || "A query is required."],
        state: store.state,
        actions: store.actions,
    }),
    filters: {
        shorten(value, max_chars) {
            const nm = value.substring(value.lastIndexOf("/") + 1)
            const elide = nm.length > max_chars
            return elide ? nm.substring(0, max_chars - 2) + "..." : nm
        },
    },
    methods: {
        /** Submits the search to the server and handles potential errors */
        async _guardedSearch() {
            try {
                await store.actions.search()
                this.errors = []
            } catch (ex) {
                if (ex.response && ex.response.data)
                    this.errors.push(ex.response.data.error)
                else this.errors.push(ex)
            }
        },
        queryClass: (q) => {
            const dot_pos = q.indexOf(".")
            const eq_pos = q.indexOf("=")
            let sig_key = q
            if (eq_pos > -1) {
                if (-1 < dot_pos && dot_pos < eq_pos)
                    sig_key = q.slice(0, dot_pos)
                else sig_key = q.slice(0, eq_pos)
            } else if (-1 < dot_pos) sig_key = q.slice(0, dot_pos)
            let ret = ["attr-" + sig_key]
            if (sig_key.endsWith("!")) ret.push("negated")
            return ret
        },
        queryKey: (q) => q.slice(0, q.indexOf("=")),
        queryPattern: (q) => q.slice(q.indexOf("=") + 1),
        removeQuery(q) {
            this.state.current_query.splice(
                this.state.current_query.indexOf(q),
                1
            )
            this._guardedSearch()
        },
        editQuery(q) {
            const self = this
            this.state.current_query.splice(
                this.state.current_query.indexOf(q),
                1
            )
            setTimeout(function () {
                self.search = q
            }, 100)
        },
        async onChange() {
            let self = this
            const query = this.state.current_query
            const last = query[query.length - 1]
            if (
                last &&
                ((last.name && last.name.indexOf("=") == -1) ||
                    last.indexOf("=") == -1)
            ) {
                this.state.current_query.pop()
                setTimeout(function () {
                    self.search = last.name ? last.name + "=" : last + "="
                }, 100)
            } else this._guardedSearch()
        },
        async submit() {
            this._guardedSearch()
        },
        toggleSources() {
            this.$nextTick(() => {
                if (this.state.search_in.length === this.sources.length) {
                    this.state.search_in = []
                } else {
                    this.state.search_in = this.sources.slice()
                }
            })
        },
    },
    async created() {
        performance.mark("App/gui/SearchForm:start")
        this.attrs = await api.getAttribs()
        const long_src = await api.getSources()
        for (const src of long_src) {
            this.sources.push(src.substring(src.lastIndexOf("/") + 1))
        }
        this.state.search_in = this.sources.slice()
        this._guardedSearch()
    },
    mounted() {
        this.$nextTick(() => performance.mark("App/gui/SearchForm:end"))
    },
}
</script>

<style lang="scss">
material-design-icon.medium {
    height: 1.5em;
    width: 1.5em;
}

.material-design-icon.medium > .material-design-icon__svg {
    height: 1.5em;
    width: 1.5em;
}
span.attr-error {
    color: #ff5252 !important;
}
span.attr-id {
    color: #e91e63 !important;
}
span.attr-frame {
    color: #673ab7 !important;
}
span.attr-lemma {
    color: #1ed4b4 !important;
}
.permalink {
    text-decoration: none;
    color: #1976d2 !important;
}
a.permalink:hover {
    text-decoration: underline;
}
.v-center {
    align-items: center;
}
.negated {
    background-color: #ff5252 !important;
}
</style>
