<template>
    <div>
        <v-dialog
            v-model="state.gui.stats_dlg"
            max-width="80%"
            @keydown.esc="state.gui.stats_dlg = false"
            scrollable
        >
            <v-card class="v-Stats">
                <!-- The dialog Header -->
                <v-card-title class="yellow">
                    <h2>
                        Stats <br />
                        <!-- A breadcrumb used to show the search-query conditions and allow removing them -->
                        <query-bread-crumb class="breadcrumb" />
                    </h2>
                    <v-spacer></v-spacer>
                    <!-- Basic stats about the search query -->
                    <div class="stats">
                        <b>{{ state.search_stats.m_lu_count }}</b> LUs in
                        {{ state.search_stats.m_lexeme_count }} Lexemes (with a
                        total of
                        {{ state.search_stats.m_lexeme_lu_count }} LUs)<br />
                        <b>{{ state.search_stats.lemma_count }}</b> lemmas ({{
                            state.search_stats.lemma_count_noiter
                        }}
                        noniterative) <br />
                        <b>{{ state.search_stats.lemma_count_nodisc_hom }}</b>
                        lemmas when ignoring index of homonyms ({{
                            state.search_stats.lemma_count_nodisc_hom_noiter
                        }}
                        noniterative)<br />
                        <b>{{ state.search_stats.lu_cross_lemma_count }}</b>
                        distinct lemma-LU pairs ({{
                            state.search_stats.lu_cross_lemma_count_noiter
                        }}
                        noniterative)
                    </div>
                </v-card-title>

                <v-card-text>
                    <!-- a permanent link to the current histogram -->
                    <div>
                        <v-tooltip bottom class="right">
                            <span slot="activator">
                                <permalink-dlg
                                    :link="state.perma_link('histogram')"
                                    title="Permanent link to this histogram"
                                    class="permalink"
                                />
                            </span>
                            <span>A permanent link to this histogram</span>
                        </v-tooltip>
                    </div>

                    <!-- Controls whether to display occurrence or unique_lus histogram -->
                    <div class="control">
                        <v-radio-group v-model="count_mode" row>
                            <span class="label">Count</span>
                            <v-radio
                                :label="
                                    'Occurrences (' +
                                    state.histogram.computed.occurrences.total +
                                    ')'
                                "
                                value="occurrence"
                            ></v-radio>
                            <v-radio
                                :label="
                                    'LUs (' +
                                    state.histogram.computed.unique_lus.total +
                                    ')'
                                "
                                value="lu"
                            ></v-radio>
                        </v-radio-group>
                    </div>

                    <h3 v-if="sorted_bins.length > 1" class="center">
                        {{ sorted_bins.length }} unique values in the histogram
                    </h3>
                    <h3 v-if="sorted_bins.length == 1" class="center">
                        {{ sorted_bins.length }} unique value in the histogram
                    </h3>
                    <v-layout row style="width:100%">
                        <v-flex sm12 md4>
                            <!-- The drop-down histogram key input. -->
                            <v-autocomplete
                                class="col s12 m4"
                                persistent-hint
                                auto-select-first
                                label="Attribute"
                                hint="Select which attribute to show histogram for"
                                v-model="state.histogram.key"
                                item-value="name"
                                item-text="name"
                                :items="keys"
                                :menu-props="{
                                    closeOnContentClick: true,
                                    closeOnOutsideClick: true,
                                }"
                            >
                                <!-- Predefined histogram queries. -->
                                <!-- <v-divider slot="append-item" class="mt-2"/>
                    <v-list-tile class='v-Stats' slot="append-item" v-for="(key, i) in predefined" :key="i" @click='select_predefined(key)' ripple>
                    <v-list-tile-title>{{ key.name }}<div class='right'>({{ key.key }}<span v-if='key.selector'>:{{key.selector}}</span>)</div></v-list-tile-title>
                    </v-list-tile> -->

                                <!-- Template for the items in the dropdown menu -->
                                <template slot="item" slot-scope="data">
                                    <v-list-tile
                                        class="v-Stats"
                                        @click="select_key(data.item)"
                                        ripple
                                    >
                                        <v-list-tile-title
                                            >{{ data.item.name }}
                                            <div class="right description">
                                                {{ data.item.desc }}
                                            </div></v-list-tile-title
                                        >
                                    </v-list-tile>
                                </template>
                            </v-autocomplete>
                        </v-flex>
                        <v-flex sm0 md1></v-flex>
                        <v-flex sm12 md8>
                            <!-- An input for a regular expression selecting the value to count -->
                            <v-text-field
                                persistent-hint
                                label="Selector"
                                hint="Regular expression selecting the value to count"
                                v-model="state.histogram.selector"
                                :error-messages="selector_errors"
                                append-outer-icon="search"
                                @click:append-outer="submit"
                                @keydown.enter="submit"
                            >
                            </v-text-field>
                        </v-flex>
                    </v-layout>

                    <!-- Show a rotating circular progressbar when computation is in progress -->
                    <div v-if="state.histogram.computing" class="computing">
                        <v-progress-circular
                            size="150"
                            color="teal"
                            indeterminate
                        >
                            Computing Histogram...
                        </v-progress-circular>
                    </div>

                    <!-- The computed histogram table -->
                    <div v-else>
                        <v-layout
                            row
                            align-center
                            v-for="val in sorted_bins"
                            :key="val"
                        >
                            <v-flex sm3
                                ><a @click="drill_down(val)">{{
                                    val
                                }}</a></v-flex
                            >
                            <!-- the value -->
                            <v-flex
                                sm3
                                style="text-align: right; padding-right: 1em"
                            >
                                <!-- the count -->
                                {{ hist.bins[val] }} ({{
                                    Math.round(
                                        (hist.bins[val] * 100) / hist.total
                                    )
                                }}%)
                            </v-flex>
                            <v-flex sm6 style="padding-right: 2em">
                                <!-- the bar -->
                                <v-progress-linear
                                    height="15"
                                    :value="(hist.bins[val] * 100) / hist.total"
                                ></v-progress-linear>
                            </v-flex>
                        </v-layout>
                    </div>
                </v-card-text>
            </v-card>
        </v-dialog>
    </div>
</template>

<script>
import api from "../Api.js"
import store from "../Store.js"
import QueryBreadCrumb from "./QueryBreadCrumb"
import PermalinkDlg from "./PermalinkDlg"

/** Finds the first group in the regular expression regexp
 *  and replaces it with val
 *
 * @param {string} val    --- the value to substitute for the group
 * @param {string} regexp --- the regular expression*/
function subst_val_in_regexp(val, regexp) {
    let bracket_open = false,
        escaping = false,
        first_paren = null,
        open_paren_count = 0,
        pos = 0
    while (pos < regexp.length) {
        switch (regexp[pos]) {
            case "\\":
                escaping = !escaping
                break
            case "[":
                bracket_open = !escaping || bracket_open
                escaping = false
                break
            case "]":
                bracket_open = bracket_open && escaping
                escaping = false
                break
            case "(":
                if (!escaping && !bracket_open) {
                    open_paren_count++
                    if (!first_paren) first_paren = pos
                }
                escaping = false
                break
            case ")":
                if (!escaping && !bracket_open) {
                    if (open_paren_count) {
                        open_paren_count--
                        if (open_paren_count === 0)
                            return (
                                regexp.substr(0, first_paren) +
                                val +
                                regexp.substr(pos + 1)
                            )
                    }
                }
                escaping = false
                break
            default:
                escaping = false
        }
        pos++
    }
    return val
}

/** Escapes all regexp-special characters.
 *
 * @link https://stackoverflow.com/questions/3115150/how-to-escape-regular-expression-special-characters-using-javascript
 * @param {string} val    --- the string to escape*/
function escape_regexp(val) {
    return val.replace(/[-[\]{}()*+?.,\\^$|#\s]/g, "\\$&")
}

export default {
    components: {
        QueryBreadCrumb,
        PermalinkDlg,
    },
    data() {
        return {
            keys: [] /** The available histogram keys */,
            selector_errors: [] /** Holds a list of errors returned by the server */,
            state:
                store.state /** A reference to the global application state */,
            count_mode:
                "occurrence" /** Whether to show unique occurrence counts or lexical unit counts */,
        }
    },
    computed: {
        /** Returns the list of predefined histogram queries */
        predefined() {
            const cfg = this.state.config
            if (cfg && cfg.stats && cfg.stats.predefined)
                return cfg.stats.predefined
            return []
        },
        /** Returns the currently selected histogram type (occurrences vs unique_lus) */
        hist() {
            if (this.count_mode == "occurrence")
                return this.state.histogram.computed.occurrences
            else return this.state.histogram.computed.unique_lus
        },
        /** Sorts the histogram bins by their sizes */
        sorted_bins() {
            const bins =
                this.count_mode == "occurrence"
                    ? this.state.histogram.computed.occurrences.bins
                    : this.state.histogram.computed.unique_lus.bins
            let values = Object.keys(bins)
            return values.sort((a, b) => {
                if (bins[a] < bins[b]) return 1
                if (bins[a] > bins[b]) return -1
                return 0
            })
        },
    },
    methods: {
        /** Runs the histogram computation on the server. */
        async submit() {
            try {
                this.selector_errors = []
                await store.actions.computeHistogram()
            } catch (ex) {
                if (ex.response && ex.response.data)
                    this.selector_errors = [ex.response.data.error]
                else this.selector_errors = [ex]
            }
        },
        // To stop computation would be more tricky as it would probably need something like
        // running the computation in separate thread or process which can be killed in case of clicking on some STOP button
        // stop_computing() {
        //     console.log("Clicked to STOP!")
        // },

        /** Refines the current search by searching only for a specific value in the histogram */
        drill_down(val) {
            val = escape_regexp(val)
            if (this.state.histogram.selector.length > 0)
                val = subst_val_in_regexp(val, this.state.histogram.selector)
            if (!val.startsWith("^")) val = "^" + val
            if (!val.endsWith("$")) val = val + "$"
            store.mutations.restrictQuery([
                this.state.histogram.key + "=" + val,
            ])
            store.actions.search()
            store.actions.computeHistogram()
        },
        /** Selects a predefined histogram query from the dropdown & submits it to the server. */
        select_predefined(key) {
            this.$nextTick(() => {
                this.state.histogram.key = key.key
                this.state.histogram.selector = key.selector
            })
        },

        /** Selects a key (and clears the selector) */
        select_key(key) {
            this.$nextTick(() => {
                this.state.histogram.key = key.name
                this.state.histogram.selector = ""
            })
        },
    },
    async created() {
        this.keys = await api.getAttribs()
    },
}
</script>

<style lang="scss">
.v-Stats {
    margin-left: 0.2em;
    h3.center {
        text-align: center;
        padding-bottom: 0.5em;
    }
    .stats {
        float: right;
        text-align: right;
        font-size: small;
    }
    .spacer {
        padding-left: 5em;
    }
    ul.breadcrumb {
        padding: 0;
        font-size: small;
        font-weight: bold;
    }
    .computing {
        margin-top: 1em;
        margin-bottom: 1em;
        text-align: center;
    }
    .control {
        position: absolute;
        margin-top: -1.4em;
        span.label {
            font-size: x-small;
            font-weight: bold;
            margin-right: 1em;
            margin-top: 0.4em;
        }
        span.label::after {
            content: ":";
        }
        label.v-label {
            font-size: x-small;
        }
        i.v-icon {
            font-size: 20px;
        }
    }
}
</style>
