<template>
    <span class="v-Value">
        <span v-if="typeof val == 'string'">{{ val }}</span>
        <span v-else-if="val.__type__ == 'Text'" class="text">{{
            val.content
        }}</span>
        <span v-else-if="Array.isArray(val)">
            <span
                v-for="(ch, index) in val"
                :key="index"
                class="separated-list comma"
            >
                <Value :val="ch" />
            </span>
        </span>
        <span v-else-if="Object.keys(val).length > 0">
            <span v-for="k in Object.keys(val)" :key="k">
                <span class="key">{{ k }}</span
                ><Value :val="val[k]" />&nbsp;
            </span>
        </span>
        <span v-else>
            {{ val }}
        </span>
    </span>
</template>

<script>
export default {
    props: ["val"],
    name: "Value",
}
</script>

<style lang="scss">
.v-Value {
    .separated-list.semicolon:not(:last-child)::after {
        content: " • ";
    }
    .separated-list.comma:not(:last-child)::after {
        content: ", ";
    }
    .key {
        font-style: italic;
    }
    .key::after {
        content: " ";
    }
    .ul {
        display: inline;
    }
    .li {
        display: inline;
    }
}
</style>
