<div class="headerinfo">
</div>
<div id="veryfirst"></div>
<p>
</p>

<h2>Content</h2>
<ul class="toc">
	<li><a href="#sec-1" class="href">Summary</a></li>
	<li><a href="#sec:biblio" class="href">Bibliography</a></li>
</ul>
<hr />

<h1 class="part" id="nomvallex.summary"></h1>
<p></p>
<div id="text-1" class="textblock"> <!-- LEVEL: 1 -->
<h1 id="sec-1">Summary</h1>

<p>

The main characteristics of the <span class="caps">NomVallex&nbsp;I.</span> lexicon can be summarized as follows:
</p><ol>

	<li><p>
		The lexicon captures valency of Czech deverbal nouns belonging in at least one of their meanings to one of the following semantic classes: 
<span class="attrvalue">Communication</span>
(e.g.&nbsp;<span class="lemma">dotaz</span> 
<span class="eng">&lsquo;question&rsquo;</span>,
<span class="lemma">dotazování (se)<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">dotázání (se)<span class="asp up">pf</span></span> 
<span class="eng">&lsquo;asking&rsquo;</span>),
<span class="attrvalue">Mental Action</span>
(e.g.&nbsp;<span class="lemma">plán</span> 
<span class="eng">&lsquo;plan&rsquo;</span>,
<span class="lemma">plánování<span class="asp up">impf</span></span> 
<span class="eng">&lsquo;planning&rsquo;</span>)
or <span class="attrvalue">Psych State</span>
(e.g.&nbsp;<span class="lemma">nenávist</span> 
<span class="eng">&lsquo;hatred&rsquo;</span>,
<span class="lemma">nenávidění<span class="asp up">impf</span></span> 
<span class="eng">&lsquo;hating&rsquo;</span>).
In total,
the lexicon includes 505 lexical units in 248 lexemes
(when considering aspectual counterparts,
such as <span class="lemma">namítání<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">namítnutí<span class="asp up">pf</span></span> 
<span class="eng">&lsquo;expressing objections&rsquo;</span>,
to be individual lexical units,
the number rises to 655 lexical units
covering a total of 297 lemmas).

	</p></li><li><p>
		The lexicon is created within the theoretical framework of Functional Generative Description.
It is founded on data from the <span class="example">SYN</span> series of corpora from the Czech National Corpus 
and the <span class="example">Araneum Bohemicum Maximum</span> corpus.

	</p></li><li><p>
		The lexicon follows in the footsteps of the <em>VALLEX</em> lexicon <a class="href">(</a><a href="#bib:LopatkovaEtAl16Vallex" class="href" title="Lopatková, M. et&nbsp;al. (2016): Valenční slovník   českých sloves VALLEX.  Praha, Karolinum.  ">Lopatková et&nbsp;al., 2016</a><a class="href">)</a>; 
it adopts the <em>VALLEX</em> annotation scheme,
and in relevant cases, deverbal nouns captured in <span class="caps">NomVallex&nbsp;I.</span> mirror the division of lexemes into lexical units and the assignment of lexical units to semantic classes of the base verbs captured in the <em>VALLEX</em> lexicon.
(In its electronic version,
<span class="caps">NomVallex&nbsp;I.</span> also provides links to the valency lexicon PDT-Vallex.)

	</p></li><li><p>
		It captures all lexical meanings of the nouns,
differentiating between basic &ldquo;categorial&rdquo; meanings,
i.e.&nbsp;action
(e.g.&nbsp;<span class="lemma">žádání (si)<span class="asp up">impf</span></span> 
<span class="eng">&lsquo;asking&rsquo;</span>,
<span class="lemma">dovtípení (se)<span class="asp up">pf</span></span> 
<span class="eng">&lsquo;inferring&rsquo;</span>),
abstract result of an action
(e.g.&nbsp;<span class="lemma">žádost</span> 
<span class="eng">&lsquo;request&rsquo;</span>),
property/quality
(e.g.&nbsp;<span class="lemma">důvtip</span> 
<span class="eng">&lsquo;ingenuity&rsquo;</span>),
material object (e.g.&nbsp;<span class="lemma">pohled</span> 
<span class="eng">&lsquo;postcard&rsquo;</span>)
and container/quantity
(e.g.&nbsp;<span class="lemma">počet</span> 
<span class="eng">&lsquo;number&rsquo;</span>).

	</p></li><li><p>
		Considering morphosyntactic properties of the studied nouns,
the lexicon differentiates three basic types of noun derivates,
namely syntactic,
syntactico-lexical and lexical derivates.
In order to be able to compare valency behaviour of different types of noun derivates,
a decision was made to include both stem-nominals
(derived from verbs by suffixes <span class="example">-ní/-tí</span> and containing a theme suffix,
e.g.&nbsp;<span class="lemma">žádání (si)<span class="asp up">impf</span></span> 
<span class="eng">&lsquo;asking&rsquo;</span>,
<span class="lemma">navrhování<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">navrhnutí<span class="asp up">pf</span><span class="asp up">1</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">navržení<span class="asp up">pf</span><span class="asp up">2</span></span> 
<span class="eng">&lsquo;suggesting/proposing&rsquo;</span>,
<span class="lemma">namítání<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">namítnutí<span class="asp up">pf</span></span> 
<span class="eng">&lsquo;expressing objections&rsquo;</span>)
and root-nominals
(derived from verbs by various suffixes,
including the zero suffix, but not containing a theme suffix,
e.g.&nbsp;<span class="lemma">žádost</span> 
<span class="eng">&lsquo;request&rsquo;</span>,
<span class="lemma">návrh</span> 
<span class="eng">&lsquo;proposal&rsquo;</span>,
<span class="lemma">námitka</span> 
<span class="eng">&lsquo;objection&rsquo;</span>).

	</p></li><li><p>
		Nouns matching the following criteria were included in the lexicon:
its semantic class is either <span class="attrvalue">Communication</span>, <span class="attrvalue">Mental Action</span> or <span class="attrvalue">Psych State</span>,
its categorial meaning is action or abstract result of an action,
and it exhibits non-systemic valency behaviour
(especially non-systemic forms of participants).
When both stem-nominals and root-nominals derived from the same verb are available,
both are included if at least one of them satisfies the above criteria in at least one of its senses.

	</p></li><li><p>
		Valency properties are captured in the form of a valency frame
(in which valency slots are specified by a functor and a list of morphemic forms),
and examples which occurred in the corpus data.
The lexicon aims to illustrate the full range of syntactic structures of noun phrases,
and thus the syntactic behaviour of every lexical unit is exemplified with all combinations of its participants
(in all forms specified in the valency frame)
which were found in the corpus data.

	</p></li><li><p>
		In accordance with valency lexicons <em>VALLEX</em> and PDT-Vallex,
the <span class="caps">NomVallex&nbsp;I.</span> lexicon assumes that every lexical meaning
(sense)
is linked to a corresponding valency frame,
and vice versa,
a difference in valency frames proves a difference in meaning.
Morphosyntactic properties are taken into account when there is ambiguity about
whether separate senses should be distinguished or not.

	</p></li><li><p>
		Along with the printed version,
the <span class="caps">NomVallex&nbsp;I.</span> lexicon is also available in an electronic form,
both as publicly available web-pages
(<a href="https://ufal.mff.cuni.cz/nomvallex">https://ufal.mff.cuni.cz/nomvallex</a>)
and as machine readable data suitable for further research into valency of Czech deverbal nouns and for other NLP applications.
The online version and an offline application allow for formulating specific and complex queries based on a wide range of criteria,
e.g.&nbsp;the type of derivation of the noun (stem vs.&nbsp;root nominals),
its aspectual characteristics, 
categorial meaning,
semantic class,
types of its valency complementations and their morphemic forms
(including their distribution depending on the type of the noun and/or the type of the complementation itself,
individually and in combinations),
and the relation of the noun to its base verb including the differences in valency behaviour.
Last but not least, the lexicon also quotes rich corpus evidence supporting the valency characteristics described in the given valency frames.

	</p></li><li><p>
		A&nbsp;comparison of valency frames of nouns in the <span class="caps">NomVallex&nbsp;I.</span> lexicon and valency frames of their base verbs in <em>VALLEX</em> enables us to gain insight into systemic and non-systemic valency behaviour of Czech deverbal nouns.

	</p></li>
</ol><p>
</p></div> <!-- LEVEL: 1->0 -->

<hr />
<h3 id="sec:biblio">Bibliography</h3>
<ul class="biblio">
	<li id="bib:LopatkovaEtAl16Vallex"><span class="bib-note">Lopatková et&nbsp;al. (2016)</span><br /><span class="capsname">Lopatková</span>, M. et&nbsp;al. (2016): <em>Valenční slovník   českých sloves <em>VALLEX</em></em>.  Praha, Karolinum.  </li>
</ul>

</div> <!--maintext-->
<hr />
</body>
</html>
