<div class="headerinfo">
</div>
<div id="veryfirst"></div>
<p>
</p>

<h2>Obsah</h2>
<ul class="toc">
	<li><a href="#sec-1" class="href">Shrnutí</a></li>
	<li><a href="#sec:biblio" class="href">Seznam literatury</a></li>
</ul>
<hr />

<h1 class="part" id="nomvallex.shrnuti"></h1>
<p></p>
<div id="text-1" class="textblock"> <!-- LEVEL: 1 -->
<h1 id="sec-1">Shrnutí</h1>

<p>

V několika bodech lze hlavní charakteristiky valenčního slovníku <span class="caps">NomVallex&nbsp;I.</span> shrnout takto:
</p><ol>

	<li><p>
		Zachycuje valenci českých deverbativních substantiv,
která alespoň v&nbsp;jednom ze svých významů patří k&nbsp;sémantické třídě <span class="attrvalue">Communication</span>
(např.&nbsp;<span class="lemma">dotaz</span> 
,
<span class="lemma">dotazování (se)<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">dotázání (se)<span class="asp up">pf</span></span> 
),
<span class="attrvalue">Mental Action</span>
(např.&nbsp;<span class="lemma">plán</span> 
,
<span class="lemma">plánování<span class="asp up">impf</span></span> 
)
nebo <span class="attrvalue">Psych State</span>
(např.&nbsp;<span class="lemma">nenávist</span> 
,
<span class="lemma">nenávidění<span class="asp up">impf</span></span> 
),
a to v&nbsp;celkovém počtu 248 lexémů,
505 lexikálních jednotek
(při počítání vidových protějšků,
např.&nbsp;<span class="lemma">namítání<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">namítnutí<span class="asp up">pf</span></span> 
, 
jako zvláštních lexikálních jednotek je
celkový počet 655 lexikálních jednotek
pokrývajících 297 různých lemmat).

	</p></li><li><p>
		Problematiku substantivní valence zpracovává v&nbsp;teoretickém rámci Funkčního generativního popisu,
přičemž se důsledně opírá o&nbsp;korpusový materiál
(korpusy řady <span class="example">SYN</span> Českého národního korpusu
a korpus <span class="example">Araneum Bohemicum Maximum</span>).

	</p></li><li><p>
		Navazuje na valenční slovník <em>VALLEX</em> <a class="href">(</a><a href="#bib:LopatkovaEtAl16Vallex" class="href" title="Lopatková, M. et&nbsp;al. (2016): Valenční slovník   českých sloves VALLEX.  Praha, Karolinum.  ">Lopatková et&nbsp;al., 2016</a><a class="href">)</a>,
odkud přebírá anotační schéma,
v&nbsp;relevantních případech rozdělení základových slovesných lexémů do lexikálních jednotek a jejich přiřazení k&nbsp;sémantickým třídám.
(V&nbsp;elektronické verzi slovník <span class="caps">NomVallex&nbsp;I.</span> odkazuje také do valenčního slovníku PDT-Vallex.)

	</p></li><li><p>
		U&nbsp;substantiv zachycuje všechny jejich lexikální významy,
přičemž rozlišuje základní kategoriální významy událost
(např.&nbsp;<span class="lemma">žádání (si)<span class="asp up">impf</span></span> 
,
<span class="lemma">dovtípení (se)<span class="asp up">pf</span></span> 
),
abstraktní výsledek děje
(např.&nbsp;<span class="lemma">žádost</span> 
),
vlastnost
(např.&nbsp;<span class="lemma">důvtip</span> 
),
substance
(např.&nbsp;<span class="lemma">komunikace</span> 
 (silnice))
a kontejner
(např.&nbsp;<span class="lemma">počet</span> 
).

	</p></li><li><p>
		S&nbsp;ohledem na morfosyntaktické vlastnosti zkoumaných substantiv rozlišuje tři základní typy substantivních derivátů,
a to syntaktické,
syntakticko-lexikální a lexikální.
S&nbsp;cílem demonstrovat valenční chování různých typů substantivních derivátů jsou do slovníku zařazeny jak kmenové deriváty
(odvozené sufixy <span class="example">-ní/-tí</span>,
např.&nbsp;<span class="lemma">žádání (si)<span class="asp up">impf</span></span> 
,
<span class="lemma">navrhování<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">navrhnutí<span class="asp up">pf</span><span class="asp up">1</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">navržení<span class="asp up">pf</span><span class="asp up">2</span></span> 
,
<span class="lemma">namítání<span class="asp up">impf</span></span>&thinsp;<span class="lemma">&mdash;</span>&thinsp;<span class="lemma">namítnutí<span class="asp up">pf</span></span> 
),
tak kořenové deriváty
(odvozené různými sufixy,
včetně sufixu nulového,
např.&nbsp;<span class="lemma">žádost</span> 
,
<span class="lemma">návrh</span> 
,
<span class="lemma">námitka</span> 
),
je-li možné je od příslušných základových sloves utvořit.

	</p></li><li><p>
		Kritériem pro zařazení do slovníku je příslušnost k&nbsp;jedné ze tří výše uvedených sémantických tříd,
označení události nebo abstraktního výsledku děje a projev nesystémového valenčního chování,
zejména nesystémové formy valenčních doplnění,
a to alespoň u&nbsp;jednoho
typu zkoumaných substantiv
(kmenových nebo kořenových derivátů).

	</p></li><li><p>
		Valenci zachycuje v&nbsp;podobě valenčního rámce, který pro každé valenční doplnění uvádí funktor a množinu možných morfematických vyjádření, a příkladů,
které se vyskytly v&nbsp;použitých korpusech.
Jeho cílem je na korpusových datech ukázat,
v&nbsp;jakých syntaktických strukturách se zkoumaná substantiva mohou vyskytovat,
proto dokládá všechny kombinace aktantů
(ve všech formách uvedených ve valenčním rámci),
které se u&nbsp;daných substantiv v&nbsp;použitých korpusových datech vyskytly.

	</p></li><li><p>
		Shodně s&nbsp;valenčními slovníky <em>VALLEX</em> a PDT-Vallex předpokládá,
že každý význam je charakterizován příslušným valenčním rámcem a naopak odlišnost valenčních rámců prokazuje významový rozdíl.
V&nbsp;případech velmi blízkých lexikálních významů zohledňuje při vydělování substantivních lexikálních jednotek morfosyntaktické vlastnosti daných substantiv.

	</p></li><li><p>
		Datová část slovníku představuje strojově čitelný lexikální zdroj, využitelný při dalším výzkumu valence českých deverbativních substantiv i při jiných aplikacích.
V&nbsp;online verzi slovníku
(<a href="https://ufal.mff.cuni.cz/nomvallex">https://ufal.mff.cuni.cz/nomvallex</a>)
je možné vyhledávat jevy spojené s&nbsp;valenční problematikou podle různých, 
vzájemně kombinovatelných kritérií,
zahrnujících např.&nbsp;slovotvorný typ substantiva 
(kmenový vs.&nbsp;kořenový derivát), 
jeho vidovou charakteristiku, 
kategoriální význam, 
sémantickou třídu, 
typy jeho valenčních doplnění, 
jejich morfematické formy (jejich rozložení u&nbsp;jednotlivých typů substantiv, případně u&nbsp;samotných doplnění, a to jednotlivě i v&nbsp;kombinacích) a
vztah substantiva k&nbsp;základovému slovesu včetně odlišností ve valenci. 
V&nbsp;neposlední řadě je možné využít bohatý korpusový materiál dokládající valenci substantiv popsanou ve valenčních rámcích.

	</p></li><li><p>
		Srovnáním valenčních rámců substantiv uvedených ve slovníku <span class="caps">NomVallex&nbsp;I.</span> a valenčních rámců jejich základových sloves ve valenčním slovníku <em>VALLEX</em> je možné získat informace o&nbsp;projevech nesystémového valenčního chování u&nbsp;zkoumaných substantiv.
	</p></li>
</ol><p>
</p></div> <!-- LEVEL: 1->0 -->



<hr />
<h3 id="sec:biblio">Seznam literatury</h3>
<ul class="biblio">
	<li id="bib:LopatkovaEtAl16Vallex"><span class="bib-note">Lopatková et&nbsp;al. (2016)</span><br /><span class="capsname">Lopatková</span>, M. et&nbsp;al. (2016): <em>Valenční slovník   českých sloves <em>VALLEX</em></em>.  Praha, Karolinum.  </li>
</ul>

</div> <!--maintext-->
<hr />
</body>
</html>
